{
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "semi": true,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
