*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font:
    16px/1.4 system-ui,
    'Segoe UI',
    Roboto,
    sans-serif;
  color: #08060d;
  background: #eef2f6;
}

#root {
  min-height: 100svh;
  padding: 24px;
}
