.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.total {
  align-self: flex-end;
  margin: 0;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 16px;
}

.chart {
  width: 100%;
  height: 400px;
}
